@media (orientation: landscape) {
  #streamVideo {
    height: 10vw;
  }

  #codeSvg {
    height: 75vw;
    width: 100%;
  }
}

@media (orientation: portrait) {
  #streamVideo {
    height: 10vh;
  }

  #codeSvg {
    height: 75vh;
    width: 100%;
  }
}

#streamVideo {
  display: block;
  margin: 1em auto;
}

#codeSvg:not(.final) {
  opacity: .5;
}
